*{
    padding: 0;
}

body{
    margin: 1.3em;
}

.pdf:hover{
    color: red;
}

main{
    font-family: "Poppins", sans-serif;
}

.judul{
    font-weight: 600;
    font-size: larger;
}

.semua article h2{
    font-size: medium;
    font-weight: 600;
}

.ayat{
    font-size:large;
}

article p {
    text-align: justify;
}
